.error-page {
  width: 99.5vw;
  height: 79.75vh;
  background-color: white;
  display: flex;
  align-content: center;
  flex-direction: column;
  padding-top: 1.5rem;
  border-right: solid black;
  border-left: solid black;
}

.error-text {
  margin-top: 5rem;
}

.error-message {
  margin-top: 2rem;

  img {
    animation-name: bad-Load;
    animation-duration: 4s;
  }
}

@keyframes bad-Load {
  0% { opacity: 0; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}