.home {
  height: 82vh;
  background-color: white;
  width: 100%;
  overflow-x: hidden;
}

.home img {
  height: 17em;
  position: relative;
}

.img-container img {
  animation-name: pikachu;
  animation-duration: 35s;
}

.prompt {
  display: flex;
  justify-content: center;
}

.prompt p {
  align-self: center;
}

.prompt .pokeball {
  height: 4.5em;
}

@keyframes pikachu {
  0% {
    left: 0px;
    top: 0px;
  }
  
  10% {
    left: 300px;
    top: 0px;
  }

  20% {
    left: 200px;
    top: 90px;
  }
  
  30% {
    left: -30px;
    top: 90px;
  }

  40% {
    left: 350px;
    top: 0px
  }

  50% {
    left: -500px;
    top: 0px;
  }

  60% {
    left: 800px;
    top: 90px;
  }

  70% {
    left: 0px;
    top: -200px;
  }

  80% {
    left: 200px;
    top: 0px;
  }

  90% {
    left: -190px;
    top: 0px;
  }

  100% {
    left: 0px;
    top: 0px    
  }
}