.navbar {
  display: flex;
  border-bottom: solid;
  border-color: black;
  height: 7.5em;
  width: 100%;
  background-color: #e60000;
  color: #FFCC00;
  align-items: center;
  justify-content: center;
}

