.show {
  display: flex;
  border: solid;
  align-items: center;
  width: 50em;
}

.hide {
  display: none;
}

img {
  margin-bottom: 0em;
  height: 10em;
}

.name-sprite {
  border-right: solid;
  width: 15em;
}

.name-sprite p {
  margin-bottom: 1em;
  margin-top: 1em;
}

.entry {
  background-color: white;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 0px;
  width: 30em;
  margin-left: 2.5em;
  background-color: white;
}

.description p {
  line-height: 0em;
}
